covidtest_patient/node_modules/**/*
covidtest_patient/.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
covidtest_patient/web-build/
covidtest_patient/web-report/

# macOS
.DS_Store

#amplify
covidtest_patient/amplify/\#current-cloud-backend
covidtest_patient/amplify/.config/local-*
covidtest_patient/amplify/mock-data
covidtest_patient/amplify/backend/amplify-meta.json
covidtest_patient/amplify/backend/awscloudformation
covidtest_patient/build/
covidtest_patient/dist/
covidtest_patient/node_modules/
covidtest_patient/aws-exports.js
covidtest_patient/awsconfiguration.json
covidtest_patient/amplifyconfiguration.json
covidtest_patient/amplify-gradle-config.json
covidtest_patient/amplifyxc.config